body {
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	background-image: url('images/trilliumgradient.png');
}
h1 {
	background-image: url('images/CC50thAnniversary.jpg');
	background-repeat: no-repeat;
	color: #3E5702;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 1.5em;
	font-variant: small-caps;
	text-transform: capitalize;
	height: 29px;
	padding-left: 210px;
	padding-top: 180px;
}
.fieldLabel {
	color: #3E5702;
	vertical-align: top;
	text-align: right;
}
#allPage {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	border: medium solid #3E5702;
	border-radius: 15px;
	box-shadow: 5px 5px 5px gray;
	padding: 6px;
}
#copyright {
	color: white;
	font-size: x-small;
}
label {
	width: 250px;
	float: left;
	text-align: right;
}
fieldset {
	border-radius: 10px;
	box-shadow: 5px #C0C0C0;
}
