body {
	font-family: Arial, Helvetica, sans-serif;
	
}
#copyright {
	font-size: x-small;
	color: #FFFFFF;
	background-color: #9999FF;
}
		
serif;
	color: #2E4D04;
	text-transform: capitalize;
	font-variant: small-caps;
	height: 209px;
	padding-left: 210px;

}

.fieldLabel {
	vertical-align: top;
	text-align: right;
}
#allPage  {
	width: 980px;
	right: auto;
	left: auto;
}
body {
	background-color: #DAE85A;
	}

body {
	margin-right: 15mm;
	margin-left: 50mm;
}
div#allPage {
	left: 2in;
}
body {
	background-color: #DDF1C0;
}
body {
	border: medium groove #009933;
}
