h1 {
	border-radius: 10px;
	box-shadow: 5px 5px 5px #808080;
	background-image: url('../week07/images/trilliumminibanner.jpg');
	height: 72px;
	background-repeat: no-repeat;
	background-color: #D5ECB3;
	font-family: cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 3em;
	font-weight: 900;
	color: #5C743D;
	padding-left: 130px;
	padding-top: 12px;
}
body {
	background-size: 100% 100%;
	/*no poster image for the printer*/
	/*background-image: url('images/nature-background.jpg');*/
	background-repeat: no-repeat;
	/*Serif fonts are better for printting*/
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #000;
}
h2 {
	border-radius: 5px;
	box-shadow: 3px 3px 3px #808080;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	color: #5C743D;
	text-transform: capitalize;
	background-color: #D5ECB3;
	background-image: url('../week06/images/trilliumbg.gif');
	background-repeat: no-repeat;
	padding-left: 30px;
}
ul {
	list-style-image: url('../week06/images/trillium.gif');
}
footer {
	border-radius: 10px;
	box-shadow: 5px 5px 5px #808080;
	color: #FFFFFF;
	background-color: #5C743D;
	background-image: url('../week06/images/trilliumfoot.gif');
	background-repeat: no-repeat;
	background-position: right;
	height: 80px;
	padding: 4px;
}
#copyright {
	font-size: x-small;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 3px;
	padding-left: 3px;
}
footer a:hover {
	color: #5C743D;
	background-color: #D5ECB3;
}
#allPage {
	padding: 10px;
	border-radius: 10px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F0FFB1;
	opacity:0.85;
}
nav img {
	border-radius: 5px;
	box-shadow: 3px 3px 3px #808080;
}
nav  {
	display: none;
}
